@model DraftboardViewModel


@for (int i = 0, row = 0; i < Model.Players.Count; i += Model.NumberOfTeams, row++)
{
    var k = i + Model.NumberOfTeams - 1;
<div class="row col-md-12">
    @for (int j = i; j < i + Model.NumberOfTeams && j < Model.Players.Count; j++, k--)
    {
        @if (row % 2 == 1)
        {
            @if (k >= Model.Players.Count)
            {
                k = Model.Players.Count - 1;
            }
            @if (Model.Players.ElementAt(k).PositionDrafted == Model.Players.Count)
            {
                <div class="card col ml-auto">
                    <div class="card-body">
                        <h6 class="card-title">@Model.Players.ElementAt(k).Name</h6>
                        <footer>
                            <small class="text-muted bottom-right">
                                @Model.Players.ElementAt(k).Position
                            </small>
                        </footer>
                    </div>
                </div>
            }
            else
            {
                <div class="card col">
                    <div class="card-body">
                        <h6 class="card-title">@Model.Players.ElementAt(k).Name</h6>
                        <footer>
                            <small class="text-muted bottom-right">
                                @Model.Players.ElementAt(k).Position
                            </small>
                        </footer>
                    </div>
                </div>

            }
        }
        else
        {
            <div class="card col">
                <div class="card-body">
                    <h6 class="card-title">@Model.Players.ElementAt(j).Name</h6>
                    <footer>
                        <small class="text-muted bottom-right">
                            @Model.Players.ElementAt(j).Position
                        </small>
                    </footer>
                </div>
            </div>
        }
    }
</div>
}

